@use '../variables' as *;
@use 'sass:color';

.large-button{
    color: $base-foreground-color;
    background-color: $color-4;
    width: 60vw;

    height: 5vh;
    line-height: 5vh;
    margin-top: 3vh;

    font-size: clamp(1em, 1.5vw, 1.8em);
    font-family: minecraft-p;
    cursor: pointer;

    text-shadow: 1.5px 1.5px 0px $base-background-color;
    text-decoration: none;
    border-style: outset;
    border-color: black;
    border-width: 1.5px;
    border-radius: 0;

    //PC
    @media (min-width: 768px){
        width: 35vw;
        text-shadow: 2px 2px 0px $base-background-color;
        border-width: 2px;
        line-height: 7.5vh;
        height: 7.5vh;
    }

    &:hover{
        background-color: $color-2;
        color: $color-6;
    }
}

.red-button{
    background-color: #ff0808;

    &:hover{
        background-color: #e50914;
    }
}

.green-button{
    background-color: $color-11;

    &:hover{
        background-color: color.scale($color-11, $lightness: -10%);
    }
}
