@use '../variables.scss' as *;

.footer{
    background-color: black;
    color: white;
    font-family: minecraft-p;
    text-align: center;
    margin-top: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 19vh;

    width: calc(100vw - var(--scrollbar-width, 0));
    font-weight: 200;
    font-size: clamp(.7em, 1.2vw, 1.5em);
    border-top: 1px solid white;

    a{
        color: $color-2;
    }
}