@use '../variables' as *;

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    color: $base-foreground-color;
}

body {
    background-color: $base-background-color;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-optical-sizing: auto;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 2;
    text-align: center;
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

.flex-c-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.minecraft-p{
    margin-top: 3vh;
    font-size: clamp(.8em, 1.5vw, 2em);
    font-family: minecraft-p;
    color: $color-5;
    text-shadow: 1.5px 1.5px 0px #000;
}

.red-minecraft-p{
    color: red;
}

::placeholder{
    color: $color-13;
}

.materias-title{
    font-size: clamp(.9em, 2vw, 2em);
    font-family: 'Lexend Deca', Rubik;
    font-weight: 800;
}

.hidden{
    display: none !important;
    width: 0;
    height: 0;
}

.emoji-font{
    font-family: 'Noto Color Emoji', 'Lexend Deca', Rubik;
}
