@use '../variables.scss' as *;

.materia-card{
    border: 1.5px solid white;
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    background-color: rgba($color: #444, $alpha: 0.75);
    overflow: hidden;

    .materia-card-img-wrapper{
        position: relative;
        
        .materia-card-img{
            width: 100%; height: 100%;

            object-fit: cover;
            object-position: center;

            border-right: 1.5px solid white;
        }
    }

    .materia-card-text-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;

        .materia-card-title{
            font-family: Rubik;
            font-weight: 500;
            font-size: clamp(.9em, 1.5vw, 1.75em);
        }
        
        .materia-card-profesor{
            font-family: Rubik;
            font-weight: 400;
            font-size: clamp(.9em, 1.25vw, 1.65em);
        }

        .materia-card-description{
            text-align: justify;
            font-family: Rubik;
            font-weight: 200;
            font-size: clamp(.7em, 1.2vw, 1.5em);
        }
    }

    &:hover{
        transform: scale(1.05) rotate(-.25deg);
        cursor: pointer;
    }
}

//PC only
@media(min-width: 768px){
    .materia-card{
        width: 60vw;

        .materia-card-img-wrapper{
            width: 37.5vw;
        }

        .materia-card-text-wrapper{
            padding: 2vw;
            gap: 1vh;

            .materia-card-profesor{
                margin-top: -2.5vh;
            }
        }
    }
}

//mobile only
@media(max-width: 768px){
    .materia-card{
        width: 90vw;
    }

    .materia-card-img-wrapper{
        width: 37.5vw;
    }

    .materia-card-text-wrapper{
        padding: 2vw;
        gap: 1vh;

        .materia-card-profesor{
            margin-top: -2.5vh;
        }
    }
}