@use '../variables' as *;

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - var(--scrollbar-width, 0));
    height: calc((var(--vh, 1vh) * 100));
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal-contenido {
    p{
        margin-top: 0;
        color: white;
    }
    
    background-color: $color-10;
    padding: 2vw;
    width: 40vw;
    border-radius: 10px;
    border: 1.5px solid white;
    text-align: center;
    
    //mobile only
    @media(max-width: 768px){
        padding: 2.5vh;
        width: 90vw;
  }
}

.modal-botones {
    display: flex;
    gap: 1.5vw;
    justify-content: center;
}
