@use '../variables.scss' as *;

.materias-page{
    //shared
    background-color: $color-9;

    .materias-wrapper{
        .materia-inscripto{
            background-color: rgba($color: $color-1, $alpha: 0.8);
            border: 5px double $color-11;

            .materia-card-img{
                border-right: 5px double $color-11;
            }
        }
    }  

    //PC only
    @media(min-width: 768px){
        .materias-title{
            margin-top: 6vh;
        }
        
        .materias-wrapper{
            margin-top: 6vh;
            margin-bottom: 6vh;
            gap: 4vh;
        }
    }
}