@use '../variables' as *;

.auth-page{
    background-image: url('./img/dirt.png');
    background-repeat: repeat;

    width: calc(100vw - var(--scrollbar-width, 0));
    min-height: calc(var(--vh, 1vh) * 100);

    img{
        width: 90vw; //mobile
        filter: brightness(.8);
    }

    .subtitulo-imagen{
        width: 70vw; //mobile
    }

    .auth-wrapper{
        display: flex;
        justify-content: left;
        flex-direction: column;

        a{
            text-decoration: underline;
            color: $color-7;
        }
    }

    @media(min-width: 768px){
        img{
            width: 55vw; //PC
        }
        
        .subtitulo-imagen{
            width: 22.5vw;
        }
    }
}