@use '../variables' as *;

.perfil-page{
    width: calc(100vw - var(--scrollbar-width, 0));
    min-height: calc(var(--vh, 1vh) * 100);

    background-color: $color-9;
    background-image: url('/img/background-1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    background-position-y: 1.5vh;
    position: relative;

    .perfil-data{
        //shared
        width: calc(100vw - var(--scrollbar-width, 0));
        min-height: calc(var(--vh, 1vh) * 92.5); // mobile only; height - mobile nav

        .perfil-p-wrapper{
            .perfil-p{
                border-radius: 50%;
                border: 1.5px solid white;
                height: 50vh;
                max-height: 50vw;
            }
        }
        
        .perfil-text-data-box{
            border-radius: 10px;
            border: 1.5px solid white;
            background-color: rgba($color: $color-10, $alpha: 0.9);
        }

        .perfil-text-data-box-wrapper{
            display: flex;
            flex-direction: column;

            textarea{
                padding-top: 1vh;
                line-height: 1.25;
                min-height: 15vh;
                resize: vertical;
            }
        }

        //mobile only
        @media(max-width: 768px){
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .perfil-p-wrapper{
                z-index: 2;
                margin-top: 3vh;
                margin-bottom: -6vh;
            }

            .perfil-text-data-box{
                padding-top: 6vh;
                padding-bottom: 3vh;
                width: 90vw;
                margin-bottom: 3vh;

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        //PC only
        @media(min-width: 768px){
            min-height: calc(var(--vh, 1vh) * 90); //PC only; height - PC nav
            position: relative;
            display: flex;
            justify-content: right;
            align-items: center;

            .perfil-p-wrapper{
                .perfil-p{
                    z-index: 1;
                    position:fixed;
                    display: block;
                    top: 30vh;
                    left: 2.5vw;
                }
            }

            .perfil-text-data-box{
                width: 75vw;
                min-height: 100vh;
                margin-right: 2.5vw;
                margin-top: 2.5vw;
                margin-bottom: 2.5vw;
                padding-bottom: 2.5vw;

                display: flex;
                justify-content: center;
                align-items: top;
                
                .perfil-text-data-box-wrapper{
                    margin-top: 2.5vw;
                }
            }
        }
    }
}


#easteregg-1{
    width: calc(100vw - var(--scrollbar-width, 0));
    height: calc((var(--vh, 1vh) * 100));
    background-color: rgba($color: $color-10, $alpha: 0.9);
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;

    #easteregg-1-img{
        position: absolute;
        top: 2.5vw;
        left: 2.5vw;
        width: 95vw;
        height: calc((var(--vh, 1vh) * 100) - 5vw);

        z-index: 10;
        background-image: url('/img/background-2.webp');
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}