@use '../variables.scss' as *;

.profesor-page{
    background-color: $color-9;

    .materias-title{
        margin-top: 3vh;
    }

    .nota-card-alumno{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        gap: 1vw;
        padding: 2vw;
        
        p{
            color: black;
            font-size: clamp(.8em, 1.5vw, 2em);
            font-family: Rubik;
        }
        input{
            color: black;
            font-size: clamp(.8em, 1.5vw, 2em);
            font-family: Rubik;
            text-align: center;
        }
        button{
            color: black;
            font-size: clamp(.8em, 1.5vw, 2em);
            font-family: Rubik;
        }
    }

    //PC only
    @media(min-width: 768px){
        #content-wrapper{
            min-height: calc((var(--vh, 1vh) * 62));
        }

        .nota-card-alumno{
            p{
                &:first-child{
                    width: 10vw;
                }
                &:nth-child(2){
                    width: 15vw;
                }
                &:last-child{
                    width: 10vw;
                }
            }
            button{
                width: 10vw;
            }
            p, input{
                width: 4vw;
            }
        }

        textarea{
            width: 66vw;
            padding-top: 1vh;
            line-height: 1.25;
            min-height: 15vh;
            resize: vertical;
        }
    }

    //mobile only
    @media(max-width: 768px){
        #content-wrapper{
            min-height: calc((var(--vh, 1vh) * 54.5));
        }

        .nota-card-alumno{
            p{
                &:first-child{
                    width: 15vw;
                }
                &:nth-child(2){
                    width: 20vw;
                }
                &:last-child{
                    width: 15vw;
                }
            }
            button{
                width: 15vw;
            }
            p, input{
                width: 6.5vw;
            }
        }

        textarea{
            width: 70vw;
            padding-top: 1vh;
            line-height: 1.25;
            min-height: 15vh;
            resize: vertical;
        }
    }
}
