@use '../variables.scss' as *;

.profesor-page{
    background-color: $color-9;

    .materias-title{
        margin-top: 3vh;
    }

    .notas-table-wrapper{
        //shared
        .notas-table{
            display: table;
            border-collapse: collapse;

            tr{
                &:first-child{
                    &:hover{
                        th{
                            background-color: #FFF;
                        }
                    }
                    th{
                        font-weight: 600;
                    }
                }
                &:hover{
                    th{
                        background-color: $color-11;
                    }
                }
            }

            
            tr, th{
                background-color: white;
                border: 1px solid gray;
                color: black;

                font-size: clamp(.7em, 1.2vw, 1.5em);
                font-weight: 400;
                font-family: Rubik;

                transition: .25s;
            }
        }

    }

    //PC only
    @media(min-width: 768px){
        textarea{
            width: 70vw;
            padding-top: 1vh;
            line-height: 1.25;
            min-height: 15vh;
            resize: vertical;
        }
        
        .notas-table-wrapper{
            margin-top: 3vh;

            .notas-table{
                width: 70vw;

                th{
                    width: calc(70vw - (4 * 5vw)); //default
                    height: 4vh;
                }

                .table-nota{
                    width: 5vw;
                }
            }
        }
    }

    //mobile only
    @media(max-width: 768px){
        textarea{
            width: 70vw;
            padding-top: 1vh;
            line-height: 1.25;
            min-height: 15vh;
            resize: vertical;
        }

        .notas-table-wrapper{
            margin-top: 3vh;

            .notas-table{
                width: 70vw;

                th{
                    width: 10vw; //default
                    height: 4vh;
                    
                    &:first-child{
                        width: calc(70vw - (5 * 10vw));
                    }
                }

                .table-nota{
                    width: 10vw;
                }
            }
        }
    }
}