@use 'variables' as *;

.large-input{
    color: $base-foreground-color;
    background-color: $base-background-color;

    border: 1.5px solid $base-foreground-color;
    border-radius: 0;

    width: 60vw;
    height: 5vh;
    line-height: 5vh;


    padding-inline: 10px;

    font-size: clamp(1em, 1.5vw, 2em);
    font-family: minecraft-p;

    //PC
    @media (min-width: 768px){
        width: 35vw;
        height: 7.5vh;
        line-height: 7.5vh;
    }

    &:focus{
        outline: none;
    }
}