@use 'variables' as *;

.large-input{
    color: $base-foreground-color;
    background-color: $base-background-color;

    border: 1.5px solid $base-foreground-color;

    width: 60vw;
    height: 6vh;

    padding-inline: 10px;

    font-size: clamp(1em, 1.75vw, 2em);
    font-family: minecraft-p;

    //PC
    @media (min-width: 768px){
        width: 35vw;
    }

    &:focus{
        outline: none;
    }
}