@use 'variables' as *;

.login-page{
    background-image: url('./img/dirt.png');
    background-repeat: repeat;

    width: calc(100vw - var(--scrollbar-width, 0));
    height: calc(var(--vh, 1vh) * 100);

    img{
        width: 90vw; //mobile
    }

    .login-wrapper{
        display: flex;
        justify-content: left;
        flex-direction: column;

        p{
            margin-top: 3vh;
            font-size: clamp(1em, 1.5vw, 2em);
            font-family: minecraft-p;
            color: $color-5;
            text-shadow: 1.5px 1.5px 0px #000;
        }

        a{
            text-decoration: underline;
            color: $color-7;
        }
    }

    @media(min-width: 768px){
        img{
            width: 60vw; //PC
        }
    }
}