@use 'variables' as *;

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    color: $base-foreground-color;
}

body {
    line-height: 1.5;
    background-color: $base-background-color;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-optical-sizing: auto;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    text-align: center;
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

.flex-c-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
