$base-background-color: #000000;
$base-foreground-color: #e2e2e2;
$color-1: #509026;
$color-2: #7c89be;
$color-3: #593d29;
$color-4: gray;
$color-5: #aaa59f;
$color-6: #eaf082;
$color-7: #12b9b9;
$color-8: #f9f900;
$color-9: #0d1117;
$color-10: #010409;
$color-11: #3eae30;
$color-12: #ef8c1a;
$color-13: #964c21c7;
